/* App.css */

.App {
  text-align: center;
  margin: 20px;
  font-family: 'Arial', sans-serif;
}

h1 {
  color: #333;
}

label {
  margin: 10px;
  display: block;
}

input {
  padding: 8px;
  margin: 5px;
}

button {
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}